# Node and Vite
node_modules/
dist/
dist-ssr/
.npm/

# Data Files
s3_cache/
public/*.arrowtiles
public/*.pmtiles
public/*.parquet
duckdb_temp/
archive/
scratch/
logs/
research/

# IDE and OS
.vscode/
.idea/
.DS_Store

# Python
__pycache__/
*.pyc
