# Node and Vite
node_modules/
dist/
dist-ssr/
.npm/

# Data Files
s3_cache/
public/*.arrowtiles
public/*.pmtiles
public/*.parquet
duckdb_temp/
legacy_pipeline/
scratch/

# IDE and OS
.vscode/
.idea/
.DS_Store
